@use "@fremtind/jkl-core/jkl";
@import "@fremtind/jkl-core/mixins/_motion.scss";

nav {
    background-color: jkl.$color-sand;
    padding: jkl.$spacing-xs jkl.$spacing-m jkl.$spacing-s jkl.$spacing-m;
    display: flex;

    & > * {
        display: flex;
        gap: jkl.$spacing-m;
    }

    .nav {
        &--right {
            flex-grow: 1;
            justify-content: flex-end;
        }
    }
}

h1 {
    @include jkl.text-style("heading-1");
    padding-bottom: jkl.$spacing-xl;
}

h2 {
    @include jkl.text-style("heading-2");
    padding-top: jkl.$spacing-m;
    padding-bottom: jkl.$spacing-l;
}

h3 {
    padding-top: jkl.$spacing-m;
    padding-bottom: jkl.$spacing-s;
}

p {
    margin-bottom: jkl.$spacing-m;
}

blockquote {
    position: relative;
    margin-inline-end: 0;
    margin-inline-start: 0;
    margin-bottom: jkl.$spacing-xl;

    padding-left: jkl.$spacing-l;
    padding-top: jkl.$spacing-s;
    padding-bottom: jkl.$spacing-s;
    padding-right: jkl.$spacing-m;

    background-color: jkl.$color-sand;

    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    & > p {
        margin-bottom: 0;
    }

    &:hover:after {
        opacity: 0.5;
    }

    &:after {
        position: absolute;
        content: "";
        top: 0;
        bottom: 0;
        left: 0;
        width: 3px;
        background-color: jkl.$color-svart;
        opacity: 0.24;

        @include motion("standard", "productive");
        transition-property: opacity;
    }
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    max-width: 80ch;
}

pre {
    max-width: 120ch;
    width: 100vw;
}

// presentation specific styling
.remix-creators {
    display: flex;
    gap: jkl.$spacing-2xl;
}

.remix-creator {
    text-align: center;

    img {
        border-radius: 50%;
        height: 150px;
    }
}
